body{
    /* background: url('Desert.jpg') ; */
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background-repeat: no-repeat;
    background-size: 100%;
}

header{
    /* position: absolute; */
    margin: 0;
    /* top: 0;
    right: 0;
    left: 0; */
    /* box-shadow: 0px 0px 5px gray; */
    display: flex;
    justify-content: space-between;
    padding: 1em;
}

#side-bar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    z-index: 1;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 10);
    transition: 0.5s;
    box-shadow: 0px 0px 2px ;
}

#items{
    display: flex;
    flex-direction: column;
    padding-top: 60px;
    text-align: center;
}

header a{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.699);
    font-family: monospace;
    padding: 0.5em;
    font-size: 100%;
    margin: 1em;
    font-weight: bold;
}

#close-btn{
    position: absolute;
    right: 0;
}

#menu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
}

#menu:hover{
    cursor: pointer;
}

#icon{
    height: 1px;
    width: 20px;
    background-color: darkslateblue;
    margin: 1px;
    padding: 1px;
}
